@model ProjetoEngieTestePratico.Models.Usina

@{
    ViewBag.Title = "Delete";
}
<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Excluir Usina</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Você tem certeza?</h3>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Uc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Uc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IdFornecedor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IdFornecedor)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ativo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ativo)
                    </dd>

                </dl>
            </div>

            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-success" /> 
                        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-danger" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>