@model ProjetoEngieTestePratico.Models.Usina

@{
    ViewBag.Title = "Details";
}
<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Detalhes Usinas</h2>
                
            </div>
            <div class="modal-body">               
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Uc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Uc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Fornecedor.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Fornecedor.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ativo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ativo)
                    </dd>

                </dl>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>