@model ProjetoEngieTestePratico.Models.Usina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
